@model First_Project.Models.Rolef

@{
    ViewData["Title"] = "Details";
    Layout = "_Dashboard";
}

<h1>Details</h1>

<div>
    <h4>Rolef</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Role name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rolename)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
