@model First_Project.Models.Bankf

@{
    ViewData["Title"] = "Checkout";
    Layout = "_Home";

}

<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Checkout</h1>
                </div>
            </div>
            <div class="col-lg-7">
            </div>
        </div>
    </div>
</div>




<section style="background-color:whitesmoke;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-9 col-lg-7 col-xl-5">
                <div class="card">

                    <img src="~/images/credit card.jpg" class="card-img-top" alt="visa card" />

                    <div class="rounded-bottom" style="background-color: #eee;">
                        <div class="card-body">
                            <p class="mb-4">Your payment details</p>
                            <form asp-action="Checkout">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-outline mb-3">
                                    <input asp-for="CardNumber" type="number" id="formControlLgXM8" required class="form-control" placeholder="1234 5678 1234 5678" />
                                    <label asp-for="CardNumber" class="form-label" for="formControlLgXM8">Card Number</label>
                                    <span asp-validation-for="CardNumber" class="text-danger"></span>

                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <div class="form-outline">
                                            <input asp-for="Cvv" type="number" required id="formControlLgcvv8" class="form-control" placeholder="1234" />
                                            <label asp-for="Cvv" class="form-label" for="formControlLgcvv8">CVV</label>
                                            <span asp-validation-for="Cvv" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Checkout" class="btn btn-info btn-block" style="background-color:coral">
                                </div>


                                @if (ViewBag.NotCorrectCard == true)
                                {
                                    <div style="background-color:rgba(250,0,0,0.4)">
                                        <p style="color:red;padding: 16px;"> Wrong credit card or cvv number , Please try again!</p>
                                    </div>
                                }
                                else if (ViewBag.NOMONEY == true)
                                {
                                    <div style="background-color:rgba(250,0,0,0.4)">
                                        <p style="color:red;padding: 16px;">
                                            <b>Unfortunately Insufficient Balance</b>
                                        </p>
                                    </div>
                                }
                                else if (ViewBag.NoProductsInCart == true)
                                {
                                    <div style="background-color:rgba(250,0,0,0.4)">
                                        <p style="color:red;padding: 16px;">
                                            <b>No products in your cart </b>
                                        </p>
                                    </div>
                                }


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

